// .weatherWidget{
// 	display: flex;
// 	align-items: center;
// }
.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;

  h3 {
    margin: 0;
    width: 100%;
  }

  p {
    font-size: 110%;
  }
}
.thermo-container {
  display: flex;
  align-items: self-end;
  height: 40px;
  width: 60%;
  margin: -13px 0 0 -40px;

  h4 {
    margin: 0 0 4px -7px;
  }
}
.wind-container {
  display: flex;
  align-items: end;
  height: 40px;
  width: 60%;
  margin-left: -40px;

  h4 {
    margin: 0 0 4px -15px;
  }
}

.humidity-container {
  display: flex;
  align-items: end;
  height: 40px;
  width: 60%;
  margin-left: -28px;

  h4{
    margin: 0 0 4px -5px
  }
}
