.page {
  width: 100%;
  height: 100%;
  position: absolute;
}

.top-tags {
  bottom: auto;
  top: 35px;
}

.tags {
  position: absolute;
  bottom: 0;
  left: 100px;
  color: gold;
  opacity: 0.6;
  font-size: 18px;
  font-family: 'La Belle Aurore', cursive;
}
.top-tag-html{
  position: absolute;
  color: gold;
  opacity: 0.6;
  font-size: 18px;
  font-family: 'La Belle Aurore', cursive;
  margin: 10px 0 0 80px;

}

.bottom-tag-html {
  margin-left: -20px;
}

.container {
  width: 100%;
  height: 100%;
  will-change: contents;
  min-height: 566px;
  position: absolute;
  opacity: 0;
  top: 0;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}

.container.contact-page,
.container.about-page,
.container.portfolio-page {

    h1 {
      font-size: 53px;
      font-family: 'Coolvetica';
      color: gold;
      font-weight: 400;
      margin-top: 0;
      position: relative;
      margin-bottom: 40px;
      left: -10px;

      &:before {
        content: '<h1>';
        font-family: 'La Belle Aurore', cursive;
        color: gold;
        font-size: 18px;
        position: absolute;
        margin-top: -10px;
        left: -10px;
        opacity: 0.6;
        line-height: 18px;
      }

      &:after {
        content: '<h1/>';
        font-family: 'La Belle Aurore', cursive;
        color: gold;
        font-size: 18px;
        line-height: 18px;
        position: absolute;
        left: -30px;
        bottom: -20px;
        margin-left: 20px;
        opacity: 0.6;
      }
    }

    p {
      font-size: 14px;
      color: whitesmoke;
      font-family: sans-serif;
      font-weight: 300;
      max-width: fit-content;
      opacity: 0;
      animation: test 2s linear forwards;
      @keyframes test {
        to {
        opacity: 1;
      }
    }
      &:nth-of-type(1) {
        animation-delay: 3s;
      }
      &:nth-of-type(2) {
        padding: 10px 0;
        animation-delay: 3.5s;
      }
      &:nth-of-type(3) {
        animation-delay: 4s;
      }
    }

  .text-zone {
    position: absolute;
    left: 10%;
    top: 40%;
    transform: translateY(-50%);
    width: 35%;
    max-height: 90%;
  }

  .text-animate-hover {
    &:hover {
      color: whitesmoke;
    }
  }
}

@media screen and (max-width: 1200px) {

  .container {
    height: 100%;
    margin-left: 8rem;

    &.contact-page,
    &.about-page,
    &.portfolio-page {
      .text-zone {
        transform: none;
        width: 60%;
        padding-left: 5rem;
      }
    }

    &.portfolio-page {
      width: 90%;
      padding: 20px;
      box-sizing: border-box;

      h1.page-title {
        margin-left: 20px;
        margin-top: 20px;
      }

      .image-box {
        height: 200px;
        max-width: calc(50% - 10px);
      }
    }
  }

  .stage-cube-cont {
    position: initial;
    width: 100%;
    height: 0%;
    overflow: visible;
  }
}