.page {
  width: 100%;
  height: 100%;
  position: absolute;
}

.top-tags {
  bottom: auto;
  top: 30px;
}

.tags {
  position: absolute;
  font-family: "la belle Aurore", cursive;
  color: gold;
  font-size: 18px;
  opacity: 0.6;
  bottom: 0;
  left: 110px;
}

.bottom-tag-html {
  margin-left: -20px;
}

.container {
  position: absolute;
  opacity: 0;
  width: 150%;
  will-change: contents;
  height: 90%;
  min-height: 566px;
  top: 5%;
  margin: 0 auto;
  transform-style: preserve-3d;
  animation: fadeIn 1s 0.5s forwards;
}

.contact-page,
.about-page {
  h1 {
    font-size: 53px;
    font-family: "coolvetica";
    color: gold;
    font-weight: 400;
    margin-top: 0;
    position: relative;
    margin-bottom: 40px;
    left: 10px;

    &::before {
      content: "<h1>";
      font-family: "La Belle Aurore";
      font-size: 18px;
      position: absolute;
      margin-top: -10px;
      left: -10px;
      opacity: 0.6;
      line-height: 18px;
    }

    &::after {
      content: "</h1>";
      font-family: "La Belle Aurore";
      font-size: 18px;
      position: absolute;
      margin-left: 20px;
      left: -30px;
      bottom: -20px;
      opacity: 0.6;
      line-height: 18px;
    }
  }
  p {
    font-size: 13px;
    color: whitesmoke;
    font-family: sans-serif;
    font-weight: 300;
    min-width: fit-content;
    padding: 5px;
    opacity: 0;
    animation: fadeInUp 2s 3.8s forwards;

    &:nth-of-type(1) {
      animation-delay: 3s;
    }

    &:nth-of-type(2) {
      animation-delay: 3.5s;
    }

    &:nth-of-type(3) {
      animation-delay: 4s;
    }
  }
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
  }

  .text-animate-hover {
    &:hover {
      color: whitesmoke;
    }
  }
}
